a {
    text-decoration: none;}
body {
    margin: 0%;
    padding: 0%;
    border: 0;
    font-family: sans-serif;
    background-color: #ede9e4;
    background-image: url(Imagens/fundo3.jpg);

}

header {
    height: 100px;
    padding-top: 25px;
    color: darkred;
    text-align: center;
    color: white;
    font-family: arial fantasy;
}
main {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    align-content: center;
}

.box {
    width: 250px;
    height: 350px;
    background-color: #091442;
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-align: center;
    margin: 10px;
    
    
}
.box:hover {
    box-shadow: 8px 8px 12px purple;
}
.box h2{margin: 0 0 10px 0;
padding: 0;}

.box figure { width: 250px;
    height: 200px;
    margin: 0;
    padding: 0;
}
.box p {

}


footer {
    background-color: black;
    height: 70px;
    padding-top: 10px;
    color: white;
    text-align: center;
    font-family: sans-serif;
}
img {
    border: 4px solid #6594C0;
    border-radius: 35px;
    width: 210px!important;
    height: 180px!important;
    
  
}
p {
    font-family: Georgia;
}
h2 {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}


